<!DOCTYPE html>
<html lang="en">

<%- include('partials/head');-%>

<body>

  <%- include('partials/header');-%>

    <main>
      <article class="slider">
        <ul type="none">

            <li class="slider-item"><img src="images/slider1.jpg" alt=""></li>
            <li class="slider-item"><img src="images/slider2.jpg" alt=""></li>
            <li class="slider-item"><img src="images/slider3.jpg" alt=""></li>
            <li class="slider-item"><img src="images/slider5.jpg" alt=""></li>

        </ul>
      </article>
      <section class="container">
        <% for(let i=0; i < productos.length;i++){%>
        <article class="product">
          <a href="productDtail"><img src="/images/<%=productos[i].image%>" alt=""></a>
          <div class="product-number" > 
            <p class="price">$<%=productos[i].precio%></p>
            <p class="discount"><%=productos[i].descuento%>% off</p>
          </div>
          <h4 class="description"><%=productos[i].nombre%></h4>
        </article>
        <% } %>

        <%- include('partials/ofertas');-%>

    </main>
    <%- include('partials/footer');-%>
  </body>
</html>
