<!DOCTYPE html>
<html lang="en">

<%- include('partials/head');-%>

<body>

  <%- include('partials/header');%> 

    <main>
      <article class="slider">
        <ul type="none">

            <li class="slider-item"><img src="images/slider1.jpg" alt=""></li>
            <li class="slider-item"><img src="images/slider2.jpg" alt=""></li>
            <li class="slider-item"><img src="images/slider3.jpg" alt=""></li>
            <li class="slider-item"><img src="images/slider5.jpg" alt=""></li>

        </ul>
      </article>
      <section class="container">
        <% productosDestacados.forEach((product) => { %>
        <article class="product">
          <a href="/products/detail/<%=product.id %>"> 
            <img src="/images/products/<%=product.imagen%> " alt="">  </a>
          <div class="product-number" > 
            <p class="price">$<%=product.precio%></p>
            <p class="discount"><%=product.decuento%>% off</p>
          </div>
          <h4 class="description"><%=product.nombre%></h4>
        </article>
     
        <% }) %>
      </section>
     
      <h1 class="ofer">Ofertas</h1>
      <section class="container">
        <% ofertas.forEach((product) => { %>
          <% console.log(product) %>
        <article class="product">
          <a href="/products/detail/<%=product.id %>"> 
            <img src="/images/products/<%=product.imagen%> " alt="">  </a>
          <div class="product-number" > 
            <p class="price">$<%=product.precio%></p>
            <p class="discount"><%=product.descuento%>% off</p>
          </div>
          <h4 class="description"><%=product.nombre%></h4>
        </article>
     
        <% }) %>
      </section>



      

    </main>
    <%- include('partials/footer');-%>
  </body>
</html>
