<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <main class="principal">
     
      <form class="formCrearProducto"  method="POST" action="/products/<%= producto.id %>?_method=PUT" enctype="multipart/form-data">
        <h1 class="titulo">MODIFICAR PRODUCTO </h1>

        <% if(locals.errors){ %>
        <%  errors.forEach(error => { %>
            <ul class="erroresEnUpdate"> 
              <li><%= error.msg %></li>
              </ul>
        <%  });
        } %>

        <div class="errores">
          <ul> </ul>
          </div>

        <label for="title">NOMBRE DEL PRODUCTO</label>
        <input class="espacio-completar" type="text" name="name" id="nombreDelProducto" value="<%= producto.name %>" />
        <label for="description">DESCRIPCIÓN</label>
        <input class="espacio-completar" type="text" name="description" id="descripciónDelProducto" value="<%= producto.description %>" />
        <label for="marca">MARCA</label>
        <input class="espacio-completar" type="text" name="marca" id="marcaDelProducto" value="<%= producto.marca %>" />
        <label for="imagen">IMÁGEN</label>
        <input class="espacio-completar" type="file" name="imagen" id="imagenDelProducto" value="<%= producto.imagen %>"/>
        <label for="price">PRECIO</label>
        <input class="espacio-completar" type="number" name="price" id="precioDelProducto"  value="<%= producto.price %>"/>
        <label for="color">COLOR</label>
        <select class="espacio-completar" name="color" id="colorDelProducto">
          <option value="rojo" <%= producto.color == "rojo" ? "selected" : "" %>>Rojo</option>
          <option value="azul" <%= producto.color == "azul" ? "selected" : "" %>>Azul</option>
          <option value="verde" <%= producto.color == "verde" ? "selected" : "" %>>Verde</option>
          <option value="morado" <%= producto.color == "morado" ? "selected" : "" %>>Morado</option>
          <option value="amarillo" <%= producto.color == "amarillo" ? "selected" : "" %>>Amarillo</option>
          <option value="negro" <%= producto.color == "negro" ? "selected" : "" %>>Negro</option>
          <option value="blanco" <%= producto.color == "blanco" ? "selected" : "" %>>Blanco</option>
          <option value="gris" <%= producto.color == "gris" ? "selected" : "" %>>Gris</option>
          <option value="otro" <%= producto.color == "otro" ? "selected" : "" %>>Otro</option>
        </select>
        <label for="discount">DESCUENTO</label>
        <input class="espacio-completar" type="number" min="0" max="100" name="discount" id="discount" value="<%= producto.discount %>" />
        <input class="boton-añadir" type="submit" value="CONFIRMAR MODIFICACIÓN" />
      </form>
      
      <div class="botonEliminar">
      <form class="formEliminarProducto"  method="POST" action="/products/<%= producto.id %>?_method=DELETE">
        <button  class="eliminar"  type="submit"> ELIMINAR ARTICULO</button>
      </form>
    </div>

    </main>
<script src="/js/modificarProducto.js"></script>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
