<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <main class="principal">
      <h1 class="titulo">Modificar producto</h1>
      <form class="formCrearProducto"  method="POST" action="/products/edit?_method=PUT" >
        <label for="title">Nombre del producto</label>
        <input type="text" name="nombre" id="nombreDelProducto" value="<%= producto.name %>" />
        <label for="description">Descripción</label>
        <input type="text" name="descripción" id="descripciónDelProducto" value="<%= producto.description %>" />
        <label for="imagen">Imagen</label>
        <input type="file" name="imagen" id="imagenDelProducto" />
        <label for="price">Precio</label>
        <input type="number" name="precio" id="precioDelProducto"  value="<%= producto.price %>"/>
        <label for="color">Color</label>
        <select name="color" id="colorDelProducto">
          <option value="rojo" <%= producto.color == "rojo" ? "selected" : "" %>>Rojo</option>
          <option value="azul" <%= producto.color == "azul" ? "selected" : "" %>>Azul</option>
          <option value="verde" <%= producto.color == "verde" ? "selected" : "" %>>Verde</option>
          <option value="morado" <%= producto.color == "morado" ? "selected" : "" %>>Morado</option>
          <option value="amarillo" <%= producto.color == "amarillo" ? "selected" : "" %>>Amarillo</option>
          <option value="negro" <%= producto.color == "negro" ? "selected" : "" %>>Negro</option>
          <option value="blanco" <%= producto.color == "blanco" ? "selected" : "" %>>Blanco</option>
          <option value="gris" <%= producto.color == "gris" ? "selected" : "" %>>Gris</option>
        </select>
        <label for="descuento">Descuento</label>
        <input type="number" min="0" max="100" name="descuento" id="descuentoDelProducto" value="<%= producto.discount %>" />
        <input type="submit" value="Modificar Producto" />
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
