<!DOCTYPE html>
<html lang="en">

<%- include('partials/head');-%>

  <body>
 
    <%- include('partials/header');-%>

    <main>
      <section class="indicaciones">
        <i class="fa-sharp fa-solid fa-angle-left"></i>
        <p class="pos-body5px textBold">Carrito de compras</p>
      </section>
      <section class="listado-productos">
        <% listaProductos.forEach(producto => { %>
          <%- include('partials/productItem', { producto: producto, edit : false }); %>
        <% }); %>
      </section>
      <section class="resumenCompra">
        <p class="resumenCompra-titulo textBold">RESUMEN DE LA COMPRA</p>
        <div class="resumenCompra-detalles">
        <p class="resumenCompra-cantidadArticulos"><%= listaProductos.length %> articulos</p">
        <p class="resumenCompra-total textBold">Total: $<%= listaProductos.reduce((sum, producto) => sum + (producto.price * (1 - producto.discount / 100)), 0) %></p>
        </div>
      </section>
      <section class="contenedor-botones">
        <button
          type="submit"
          class="carrito-boton carrito-boton--confirmar"
          value="FINALIZAR COMPRA"
        >
          FINALIZAR COMPRA
        </button>
        <a href="/" class="carrito-boton carrito-boton--cancelar">
        <button
          type="menu"
          class="carrito-boton carrito-boton--cancelar"
          value="SEGUIR COMPRANDO"
        >
          SEGUIR COMPRANDO
        </button>
      </a>
      </section>
    </main>
    <%- include('partials/footer');-%>
  </body>
</html>
