<article class="item">
  <picture class="item-imagen">
    <img src="/images/products/<%= producto.image %>" alt="imagenJean" />
  </picture>
  <div class="item-opciones">
    <div class="item-opciones-detalles">
      <p class="item-opciones-detalles-titulo"><%= producto.name %></p>
      <p class="item-opciones-detalles-precio">$<%= producto.price %></p>
      <p class="discount"><%= producto.discount %> %</p>
    </div>
    <% if (!edit) { %>
    <i class="fa-regular fa-trash-can item-opciones-eliminar"></i>
    <% } else { %>
    <a href="/products/<%= producto.id %>/edit"
      ><i class="fa-solid fa-pencil item-opciones-eliminar"></i
    ></a>
    <% } %>
  </div>
</article>
